In [1]:
!pip install pandas
!pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /var/data/python/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /var/data/python/lib/python3.12/site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /var/data/python/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /var/data/python/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /var/data/python/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Collecting scikit-learn
  Downloading scikit_learn-1.5.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in /var/data/python/lib/python3.12/site-packages (from scikit-learn) (2.1.2)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.14.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.9/12.9 MB 11.3 MB/s eta 0:00:00a 0:00:01
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.14.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (40.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.8/40.8 MB 11.4 MB/s eta 0:00:0000:0100:01
Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.2 scipy-1.14.1 threadpoolctl-3.5.0

In [5]:
#importação das bibliotecas
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

#criando dois dataset para atribuir os dados em memória
basedengue = pd.read_csv("CasosDengue_2020-2024.csv")
baseclima = pd.read_csv("Media_Climatologica_Anual_2020-2024.csv")

#exibindo em formato de tabela os dados armazenados no dataset
display(basedengue)
display(baseclima)

#verificando se existe valores nulos ou em formato errado dentro do dataset 
print(basedengue.info())
print(basedengue.columns)
print(baseclima.info())
print(baseclima.columns)

  Ano;Jan;Fev;Mar;Abr;Mai;Jun;Jul;Ago;Set;Out;Nov;Dez;Total
0  2020;117878;210779;211913;159181;105547;51802;...
1  2021;27385;51023;80363;110164;82945;48795;2941...
2  2022;54255;81945;249325;397707;312728;114705;5...
3  2023;67621;133460;312726;399750;277199;91950;3...
4  2024;408928;1079609;1726201;1620941;1087240;29...

  Ano;"PRECIPITACAO TOTAL; MENSAL (AUT)(mm)";"TEMPERATURA MEDIA; MENSAL (AUT)(°C)"
0          2020;120.86869017044127;23.21002731174405
1          2021;117.26289222373806;22.40571123565519
2         2022;117.71548071700164;22.592637215528782
3         2023;114.69809606231068;23.688705087157594
4         2024;113.43697978596909;23.590137053352912

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Ano;Jan;Fev;Mar;Abr;Mai;Jun;Jul;Ago;Set;Out;Nov;Dez;Total  5 non-null      object
dtypes: object(1)
memory usage: 172.0+ bytes
None
Index(['Ano;Jan;Fev;Mar;Abr;Mai;Jun;Jul;Ago;Set;Out;Nov;Dez;Total'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   Ano;"PRECIPITACAO TOTAL; MENSAL (AUT)(mm)";"TEMPERATURA MEDIA; MENSAL (AUT)(°C)"  5 non-null      object
dtypes: object(1)
memory usage: 172.0+ bytes
None
Index(['Ano;"PRECIPITACAO TOTAL; MENSAL (AUT)(mm)";"TEMPERATURA MEDIA; MENSAL (AUT)(°C)"'], dtype='object')